.Post {
  background-color: var(--background-light);
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    box-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color);
    text-align: center;
    margin: 1.5em;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover {
    color: #2142b2;
  }
  
  .HeartOutline:hover {
    color: #f85032;
  }