.SearchBar input {
    border-radius: 20px;
    color: var(--text-color);
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}

.Icons {
  color: var(--text-color);
  
}

.Icons:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.red {
  color: red;
} 

.inactive-bookmark {
  color: var(--text-color); 
}

.active-bookmark {
  color: orange; 
}

.PostBar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
}

.PostHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Text-left {
  text-align: left;
}

.Text-center {
  text-align: center;
}

.PostUser {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  gap: 10px;
}

.PostUser:hover {
  font-weight: bold;
}
