.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 2px;
    border-radius: 100%;
}

.space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1em;
}

.Hlines {
    border: .01em solid;
    color: var(--primary-color);
}

.Dropmenu {
    padding: 10px;
}

@media screen and (max-width: 991px) {
    .ProfileImage {
        width: 250px;
        height: 250px;
    }
}